asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
psycopg2-binary
python-dotenv
mongoengine
bcrypt
serial
requests
django-allauth
cloudinary
Pillow>=10.0.0
